:root {
  --MainColor: #337df2;
  --SecondaryColor: #5999ff;
  --SecondaryColorLight: #b5d0fc;
  --LightGrey: #e6e6e6;
  --MidGrey: #a6a6a6;
  --LightGreyTrans: #5c5c5c33;
}

.PageTitle {
  font-size: 30px;
  margin: 20px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: var(--LightGrey);
  display: inline-block;
}

.ExerciseTitle {
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.ExerciseProgress {
  margin-right: 10px;
  margin-left: 10px;
}

.Exercise {
  display: inline-block;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
  border-color: var(--LightGrey);
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  color: black;
}

.ExerciseProgressButton {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 5px;
  margin-bottom: 0px;
  border-radius: 8%;
  background-color: var(--SecondaryColorLight);
}

.ExerciseProgressButton:hover {
  background-color: var(--SecondaryColor);
  cursor: pointer;
}

.ExerciseProgressButton.active {
  background-color: var(--MainColor);
}

.TrainingsView {
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--MainColor);
}
